body {
  background-color: #b0c4de;
}
.scene {
  perspective: 450px;
  -webkit-perspective: 450px;
  perspective-orgin: 100px;
  -webkit-perspective-origin: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
}
.planet {
  position: absolute;
  left: -75px;
  top: -75px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.planetImg {
  width: 150px;
  height: 150px;
}
.moon {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 22.5px;
  height: 22.5px;
  border-radius: 22.5px;
  background-color: #636463;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -ms-animation-duration: 3s;
  -o-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
  z-index: 1;
}
.moon1 {
  -webkit-animation-name: orbit1;
  -moz-animation-name: orbit1;
  -ms-animation-name: orbit1;
  -o-animation-name: orbit1;
  animation-name: orbit1;
  -webkit-transform: rotateZ(220deg) rotateY(90deg) translate3D(0px, 0px, 105px) rotateY(-90deg);
  -moz-transform: rotateZ(220deg) rotateY(90deg) translate3D(0px, 0px, 105px) rotateY(-90deg);
  -ms-transform: rotateZ(220deg) rotateY(90deg) translate3D(0px, 0px, 105px) rotateY(-90deg);
  -o-transform: rotateZ(220deg) rotateY(90deg) translate3D(0px, 0px, 105px) rotateY(-90deg);
  transform: rotateZ(220deg) rotateY(90deg) translate3D(0px, 0px, 105px) rotateY(-90deg);
}
.moon2 {
  -webkit-animation-name: orbit2;
  -moz-animation-name: orbit2;
  -ms-animation-name: orbit2;
  -o-animation-name: orbit2;
  animation-name: orbit2;
  -webkit-animation-delay: -1s;
  -moz-animation-delay: -1s;
  -ms-animation-delay: -1s;
  -o-animation-delay: -1s;
  animation-delay: -1s;
  -webkit-transform: rotateZ(-50deg) rotateY(90deg) translate3D(0px, 0px, 105px) rotateY(-90deg);
  -moz-transform: rotateZ(-50deg) rotateY(90deg) translate3D(0px, 0px, 105px) rotateY(-90deg);
  -ms-transform: rotateZ(-50deg) rotateY(90deg) translate3D(0px, 0px, 105px) rotateY(-90deg);
  -o-transform: rotateZ(-50deg) rotateY(90deg) translate3D(0px, 0px, 105px) rotateY(-90deg);
  transform: rotateZ(-50deg) rotateY(90deg) translate3D(0px, 0px, 105px) rotateY(-90deg);
  z-index: -1;
}
.moon3 {
  -webkit-animation-name: orbit3;
  -moz-animation-name: orbit3;
  -ms-animation-name: orbit3;
  -o-animation-name: orbit3;
  animation-name: orbit3;
  -webkit-animation-delay: -2s;
  -moz-animation-delay: -2s;
  -ms-animation-delay: -2s;
  -o-animation-delay: -2s;
  animation-delay: -2s;
  -webkit-transform: rotateZ(100deg) rotateY(90deg) translate3D(0px, 0px, 105px) rotateY(-90deg);
  -moz-transform: rotateZ(100deg) rotateY(90deg) translate3D(0px, 0px, 105px) rotateY(-90deg);
  -ms-transform: rotateZ(100deg) rotateY(90deg) translate3D(0px, 0px, 105px) rotateY(-90deg);
  -o-transform: rotateZ(100deg) rotateY(90deg) translate3D(0px, 0px, 105px) rotateY(-90deg);
  transform: rotateZ(100deg) rotateY(90deg) translate3D(0px, 0px, 105px) rotateY(-90deg);
  -index: -1;
}
@keyframes orbit1 {
  0% {
    -webkit-transform: rotateZ(220deg) rotateY(90deg) translate3D(0px, 0px, 105px) rotateY(-90deg);
    -moz-transform: rotateZ(220deg) rotateY(90deg) translate3D(0px, 0px, 105px) rotateY(-90deg);
    -ms-transform: rotateZ(220deg) rotateY(90deg) translate3D(0px, 0px, 105px) rotateY(-90deg);
    -o-transform: rotateZ(220deg) rotateY(90deg) translate3D(0px, 0px, 105px) rotateY(-90deg);
    transform: rotateZ(220deg) rotateY(90deg) translate3D(0px, 0px, 105px) rotateY(-90deg);
    z-index: -1;
  }
  50% {
    -webkit-transform: rotateZ(220deg) rotateY(270deg) translate3D(0px, 0px, 105px) rotateY(-270deg);
    -moz-transform: rotateZ(220deg) rotateY(270deg) translate3D(0px, 0px, 105px) rotateY(-270deg);
    -ms-transform: rotateZ(220deg) rotateY(270deg) translate3D(0px, 0px, 105px) rotateY(-270deg);
    -o-transform: rotateZ(220deg) rotateY(270deg) translate3D(0px, 0px, 105px) rotateY(-270deg);
    transform: rotateZ(220deg) rotateY(270deg) translate3D(0px, 0px, 105px) rotateY(-270deg);
    z-index: -1;
  }
  75% {
    -webkit-transform: rotateZ(220deg) rotateY(360deg) translate3D(0px, 0px, 105px) rotateY(-360deg);
    -moz-transform: rotateZ(220deg) rotateY(360deg) translate3D(0px, 0px, 105px) rotateY(-360deg);
    -ms-transform: rotateZ(220deg) rotateY(360deg) translate3D(0px, 0px, 105px) rotateY(-360deg);
    -o-transform: rotateZ(220deg) rotateY(360deg) translate3D(0px, 0px, 105px) rotateY(-360deg);
    transform: rotateZ(220deg) rotateY(360deg) translate3D(0px, 0px, 105px) rotateY(-360deg);
    z-index: 2;
  }
  100% {
    -webkit-transform: rotateZ(220deg) rotateY(450deg) translate3D(0px, 0px, 105px) rotateY(-450deg);
    -moz-transform: rotateZ(220deg) rotateY(450deg) translate3D(0px, 0px, 105px) rotateY(-450deg);
    -ms-transform: rotateZ(220deg) rotateY(450deg) translate3D(0px, 0px, 105px) rotateY(-450deg);
    -o-transform: rotateZ(220deg) rotateY(450deg) translate3D(0px, 0px, 105px) rotateY(-450deg);
    transform: rotateZ(220deg) rotateY(450deg) translate3D(0px, 0px, 105px) rotateY(-450deg);
    z-index: 2;
  }
}
@keyframes orbit2 {
  0% {
    -webkit-transform: rotateZ(-50deg) rotateY(90deg) translate3D(0px, 0px, 105px) rotateY(-90deg);
    -moz-transform: rotateZ(-50deg) rotateY(90deg) translate3D(0px, 0px, 105px) rotateY(-90deg);
    -ms-transform: rotateZ(-50deg) rotateY(90deg) translate3D(0px, 0px, 105px) rotateY(-90deg);
    -o-transform: rotateZ(-50deg) rotateY(90deg) translate3D(0px, 0px, 105px) rotateY(-90deg);
    transform: rotateZ(-50deg) rotateY(90deg) translate3D(0px, 0px, 105px) rotateY(-90deg);
    z-index: -1;
  }
  50% {
    -webkit-transform: rotateZ(-50deg) rotateY(270deg) translate3D(0px, 0px, 105px) rotateY(-270deg);
    -moz-transform: rotateZ(-50deg) rotateY(270deg) translate3D(0px, 0px, 105px) rotateY(-270deg);
    -ms-transform: rotateZ(-50deg) rotateY(270deg) translate3D(0px, 0px, 105px) rotateY(-270deg);
    -o-transform: rotateZ(-50deg) rotateY(270deg) translate3D(0px, 0px, 105px) rotateY(-270deg);
    transform: rotateZ(-50deg) rotateY(270deg) translate3D(0px, 0px, 105px) rotateY(-270deg);
    z-index: -1;
  }
  75% {
    -webkit-transform: rotateZ(-50deg) rotateY(360deg) translate3D(0px, 0px, 105px) rotateY(-360deg);
    -moz-transform: rotateZ(-50deg) rotateY(360deg) translate3D(0px, 0px, 105px) rotateY(-360deg);
    -ms-transform: rotateZ(-50deg) rotateY(360deg) translate3D(0px, 0px, 105px) rotateY(-360deg);
    -o-transform: rotateZ(-50deg) rotateY(360deg) translate3D(0px, 0px, 105px) rotateY(-360deg);
    transform: rotateZ(-50deg) rotateY(360deg) translate3D(0px, 0px, 105px) rotateY(-360deg);
    z-index: 2;
  }
  100% {
    -webkit-transform: rotateZ(-50deg) rotateY(450deg) translate3D(0px, 0px, 105px) rotateY(-450deg);
    -moz-transform: rotateZ(-50deg) rotateY(450deg) translate3D(0px, 0px, 105px) rotateY(-450deg);
    -ms-transform: rotateZ(-50deg) rotateY(450deg) translate3D(0px, 0px, 105px) rotateY(-450deg);
    -o-transform: rotateZ(-50deg) rotateY(450deg) translate3D(0px, 0px, 105px) rotateY(-450deg);
    transform: rotateZ(-50deg) rotateY(450deg) translate3D(0px, 0px, 105px) rotateY(-450deg);
    z-index: 2;
  }
}
@keyframes orbit3 {
  0% {
    -webkit-transform: rotateZ(100deg) rotateY(90deg) translate3D(0px, 0px, 105px) rotateY(-90deg);
    -moz-transform: rotateZ(100deg) rotateY(90deg) translate3D(0px, 0px, 105px) rotateY(-90deg);
    -ms-transform: rotateZ(100deg) rotateY(90deg) translate3D(0px, 0px, 105px) rotateY(-90deg);
    -o-transform: rotateZ(100deg) rotateY(90deg) translate3D(0px, 0px, 105px) rotateY(-90deg);
    transform: rotateZ(100deg) rotateY(90deg) translate3D(0px, 0px, 105px) rotateY(-90deg);
    z-index: -1;
  }
  50% {
    -webkit-transform: rotateZ(100deg) rotateY(270deg) translate3D(0px, 0px, 105px) rotateY(-270deg);
    -moz-transform: rotateZ(100deg) rotateY(270deg) translate3D(0px, 0px, 105px) rotateY(-270deg);
    -ms-transform: rotateZ(100deg) rotateY(270deg) translate3D(0px, 0px, 105px) rotateY(-270deg);
    -o-transform: rotateZ(100deg) rotateY(270deg) translate3D(0px, 0px, 105px) rotateY(-270deg);
    transform: rotateZ(100deg) rotateY(270deg) translate3D(0px, 0px, 105px) rotateY(-270deg);
    z-index: -1;
  }
  75% {
    -webkit-transform: rotateZ(100deg) rotateY(360deg) translate3D(0px, 0px, 105px) rotateY(-360deg);
    -moz-transform: rotateZ(100deg) rotateY(360deg) translate3D(0px, 0px, 105px) rotateY(-360deg);
    -ms-transform: rotateZ(100deg) rotateY(360deg) translate3D(0px, 0px, 105px) rotateY(-360deg);
    -o-transform: rotateZ(100deg) rotateY(360deg) translate3D(0px, 0px, 105px) rotateY(-360deg);
    transform: rotateZ(100deg) rotateY(360deg) translate3D(0px, 0px, 105px) rotateY(-360deg);
    z-index: 2;
  }
  100% {
    -webkit-transform: rotateZ(100deg) rotateY(450deg) translate3D(0px, 0px, 105px) rotateY(-450deg);
    -moz-transform: rotateZ(100deg) rotateY(450deg) translate3D(0px, 0px, 105px) rotateY(-450deg);
    -ms-transform: rotateZ(100deg) rotateY(450deg) translate3D(0px, 0px, 105px) rotateY(-450deg);
    -o-transform: rotateZ(100deg) rotateY(450deg) translate3D(0px, 0px, 105px) rotateY(-450deg);
    transform: rotateZ(100deg) rotateY(450deg) translate3D(0px, 0px, 105px) rotateY(-450deg);
    z-index: 2;
  }
}
@-webkit-keyframes orbit1 {
  0% {
    -webkit-transform: rotateZ(220deg) rotateY(90deg) translate3D(0px, 0px, 105px) rotateY(-90deg);
    -moz-transform: rotateZ(220deg) rotateY(90deg) translate3D(0px, 0px, 105px) rotateY(-90deg);
    -ms-transform: rotateZ(220deg) rotateY(90deg) translate3D(0px, 0px, 105px) rotateY(-90deg);
    -o-transform: rotateZ(220deg) rotateY(90deg) translate3D(0px, 0px, 105px) rotateY(-90deg);
    transform: rotateZ(220deg) rotateY(90deg) translate3D(0px, 0px, 105px) rotateY(-90deg);
    z-index: -1;
  }
  50% {
    -webkit-transform: rotateZ(220deg) rotateY(270deg) translate3D(0px, 0px, 105px) rotateY(-270deg);
    -moz-transform: rotateZ(220deg) rotateY(270deg) translate3D(0px, 0px, 105px) rotateY(-270deg);
    -ms-transform: rotateZ(220deg) rotateY(270deg) translate3D(0px, 0px, 105px) rotateY(-270deg);
    -o-transform: rotateZ(220deg) rotateY(270deg) translate3D(0px, 0px, 105px) rotateY(-270deg);
    transform: rotateZ(220deg) rotateY(270deg) translate3D(0px, 0px, 105px) rotateY(-270deg);
    z-index: -1;
  }
  75% {
    -webkit-transform: rotateZ(220deg) rotateY(360deg) translate3D(0px, 0px, 105px) rotateY(-360deg);
    -moz-transform: rotateZ(220deg) rotateY(360deg) translate3D(0px, 0px, 105px) rotateY(-360deg);
    -ms-transform: rotateZ(220deg) rotateY(360deg) translate3D(0px, 0px, 105px) rotateY(-360deg);
    -o-transform: rotateZ(220deg) rotateY(360deg) translate3D(0px, 0px, 105px) rotateY(-360deg);
    transform: rotateZ(220deg) rotateY(360deg) translate3D(0px, 0px, 105px) rotateY(-360deg);
    z-index: 2;
  }
  100% {
    -webkit-transform: rotateZ(220deg) rotateY(450deg) translate3D(0px, 0px, 105px) rotateY(-450deg);
    -moz-transform: rotateZ(220deg) rotateY(450deg) translate3D(0px, 0px, 105px) rotateY(-450deg);
    -ms-transform: rotateZ(220deg) rotateY(450deg) translate3D(0px, 0px, 105px) rotateY(-450deg);
    -o-transform: rotateZ(220deg) rotateY(450deg) translate3D(0px, 0px, 105px) rotateY(-450deg);
    transform: rotateZ(220deg) rotateY(450deg) translate3D(0px, 0px, 105px) rotateY(-450deg);
    z-index: 2;
  }
}
@-webkit-keyframes orbit2 {
  0% {
    -webkit-transform: rotateZ(-50deg) rotateY(90deg) translate3D(0px, 0px, 105px) rotateY(-90deg);
    -moz-transform: rotateZ(-50deg) rotateY(90deg) translate3D(0px, 0px, 105px) rotateY(-90deg);
    -ms-transform: rotateZ(-50deg) rotateY(90deg) translate3D(0px, 0px, 105px) rotateY(-90deg);
    -o-transform: rotateZ(-50deg) rotateY(90deg) translate3D(0px, 0px, 105px) rotateY(-90deg);
    transform: rotateZ(-50deg) rotateY(90deg) translate3D(0px, 0px, 105px) rotateY(-90deg);
    z-index: -1;
  }
  50% {
    -webkit-transform: rotateZ(-50deg) rotateY(270deg) translate3D(0px, 0px, 105px) rotateY(-270deg);
    -moz-transform: rotateZ(-50deg) rotateY(270deg) translate3D(0px, 0px, 105px) rotateY(-270deg);
    -ms-transform: rotateZ(-50deg) rotateY(270deg) translate3D(0px, 0px, 105px) rotateY(-270deg);
    -o-transform: rotateZ(-50deg) rotateY(270deg) translate3D(0px, 0px, 105px) rotateY(-270deg);
    transform: rotateZ(-50deg) rotateY(270deg) translate3D(0px, 0px, 105px) rotateY(-270deg);
    z-index: -1;
  }
  75% {
    -webkit-transform: rotateZ(-50deg) rotateY(360deg) translate3D(0px, 0px, 105px) rotateY(-360deg);
    -moz-transform: rotateZ(-50deg) rotateY(360deg) translate3D(0px, 0px, 105px) rotateY(-360deg);
    -ms-transform: rotateZ(-50deg) rotateY(360deg) translate3D(0px, 0px, 105px) rotateY(-360deg);
    -o-transform: rotateZ(-50deg) rotateY(360deg) translate3D(0px, 0px, 105px) rotateY(-360deg);
    transform: rotateZ(-50deg) rotateY(360deg) translate3D(0px, 0px, 105px) rotateY(-360deg);
    z-index: 2;
  }
  100% {
    -webkit-transform: rotateZ(-50deg) rotateY(450deg) translate3D(0px, 0px, 105px) rotateY(-450deg);
    -moz-transform: rotateZ(-50deg) rotateY(450deg) translate3D(0px, 0px, 105px) rotateY(-450deg);
    -ms-transform: rotateZ(-50deg) rotateY(450deg) translate3D(0px, 0px, 105px) rotateY(-450deg);
    -o-transform: rotateZ(-50deg) rotateY(450deg) translate3D(0px, 0px, 105px) rotateY(-450deg);
    transform: rotateZ(-50deg) rotateY(450deg) translate3D(0px, 0px, 105px) rotateY(-450deg);
    z-index: 2;
  }
}
@-webkit-keyframes orbit3 {
  0% {
    -webkit-transform: rotateZ(100deg) rotateY(90deg) translate3D(0px, 0px, 105px) rotateY(-90deg);
    -moz-transform: rotateZ(100deg) rotateY(90deg) translate3D(0px, 0px, 105px) rotateY(-90deg);
    -ms-transform: rotateZ(100deg) rotateY(90deg) translate3D(0px, 0px, 105px) rotateY(-90deg);
    -o-transform: rotateZ(100deg) rotateY(90deg) translate3D(0px, 0px, 105px) rotateY(-90deg);
    transform: rotateZ(100deg) rotateY(90deg) translate3D(0px, 0px, 105px) rotateY(-90deg);
    z-index: -1;
  }
  50% {
    -webkit-transform: rotateZ(100deg) rotateY(270deg) translate3D(0px, 0px, 105px) rotateY(-270deg);
    -moz-transform: rotateZ(100deg) rotateY(270deg) translate3D(0px, 0px, 105px) rotateY(-270deg);
    -ms-transform: rotateZ(100deg) rotateY(270deg) translate3D(0px, 0px, 105px) rotateY(-270deg);
    -o-transform: rotateZ(100deg) rotateY(270deg) translate3D(0px, 0px, 105px) rotateY(-270deg);
    transform: rotateZ(100deg) rotateY(270deg) translate3D(0px, 0px, 105px) rotateY(-270deg);
    z-index: -1;
  }
  75% {
    -webkit-transform: rotateZ(100deg) rotateY(360deg) translate3D(0px, 0px, 105px) rotateY(-360deg);
    -moz-transform: rotateZ(100deg) rotateY(360deg) translate3D(0px, 0px, 105px) rotateY(-360deg);
    -ms-transform: rotateZ(100deg) rotateY(360deg) translate3D(0px, 0px, 105px) rotateY(-360deg);
    -o-transform: rotateZ(100deg) rotateY(360deg) translate3D(0px, 0px, 105px) rotateY(-360deg);
    transform: rotateZ(100deg) rotateY(360deg) translate3D(0px, 0px, 105px) rotateY(-360deg);
    z-index: 2;
  }
  100% {
    -webkit-transform: rotateZ(100deg) rotateY(450deg) translate3D(0px, 0px, 105px) rotateY(-450deg);
    -moz-transform: rotateZ(100deg) rotateY(450deg) translate3D(0px, 0px, 105px) rotateY(-450deg);
    -ms-transform: rotateZ(100deg) rotateY(450deg) translate3D(0px, 0px, 105px) rotateY(-450deg);
    -o-transform: rotateZ(100deg) rotateY(450deg) translate3D(0px, 0px, 105px) rotateY(-450deg);
    transform: rotateZ(100deg) rotateY(450deg) translate3D(0px, 0px, 105px) rotateY(-450deg);
    z-index: 2;
  }
}
